body{
	background: #F3F3F3;
	padding: 0px;
	margin: 5px;
}
.top-home a{
	font-size: 12px;
	text-decoration: none;
}
.top-home div{
	float: right;
}
.menu,.top-home,.learn-diary{
	/*max-width: 1024px;*/
	margin: auto;
	overflow: hidden;
	/*border: 1px solid red;*/
}
.menu-wai{
	max-width: 1200px;
	background: #000000;
	margin: auto;
	border-radius: 5px;
}
.menu{
	background: #000000;
	margin-top: 6px;
}
.menu1,.menu2{
	color: #FFFFFF;
	/*border: 1px solid red;*/
	float: left;
	width: 80px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}
.menu1{
	border-top: 1px solid red;
	border-left: 2px solid #000000;
	color: #000000;
	background: #F3F3F3;
}
.learn-diary{
	margin-top: 10px;
	/*background: #FFFFFF;*/
	border-radius: 10px;
	
}
h3{
	color: #555555;
}
.every-diary{
	cursor: pointer;
	/*margin: 15px 10px;*/
	/*border-top: 2px solid #000000;*/
}
.every-diary img{
	/*width: 300px;*/
	max-width: 300px;
}
.every-diary .info{
	font-size: 14px;
	color: #888888;
}
.every-diary .diary-time{
	font-size: 12px;
	color: #888888;
}
